<%= javascript_pack_tag 'links/index'%>
<h2>I AMA Link Page</h2>


<% props = {
    message: "THIS IS THE MESSAGE"
  }.to_json
%>
<div id="links-index-view" data="<%= props %>">
  <links-index-view></links-index-view>
</div>
