@import "bootstrap";


.entry {
    border: 3px solid #888;
    margin-bottom: 15px;
    border-radius: 15px;
    background: #fafafa;
    padding: 20px 25px; 
}

.link-title{
    color: rgb(34, 34, 34);
    font-size: 20px;
}

.subreddit-title{
    color: rgb(34, 34, 34);
    font-size: 23px;
}

.link-url{
    font-size: 11px;
}

.link-username{
    color: rgb(120, 124, 126);
    font-size: 14px;
}

.link-to-comments{
    color: rgb(135, 138, 140);;
}

.ml-2 {
    margin-left: ($spacer * .5) !important;
}

.votes-count{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
}

.navbar-options{
    color: rgb(28, 28, 28);
    font-size: 14px;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    margin-right: 10px
}

.title{
    font-family: 'VAG Rounded';
}

.list-group-item{
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #888;
    margin-top: 10px;
    padding-bottom: 10;
}